/BDFramework/Library
/BDFramework/.vs
/BDFramework/Temp
/Library
/Temp
/.vs/BDFramwork/v14
/.idea
/.vs
/obj
/UnityPackageManager
/BDFrameWork/.idea
/BDFrameWork-UnityFull/Library
/BDFrameWork-UnityFull/Temp
/BDFrameWork-UnityFull/UnityPackageManager
/BDFramework/*.cmdline
/BDFramework/*.err
/BDFramework/*.out
/BDFramework/*.tmp
/BDFramework/obj
/Logs
/.gradle
/Assets/Plugins/Editor/JetBrains
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Sirenix
/Assets/Code/BDFramework/github/Ilr/Mono.Cecil/.svn
/Assets/StreamingAssets/Windows/Art
/Server/DevServer/.idea
/Server/DevServer/bin
/Server/DevServer/obj
/Assets/3rdPlugins/Sirenix
/Assets/Code/BDFramework.UnitTest/Core/.idea/.idea.Core.dir/.idea/.gitignore
/Assets/Code/BDFramework.UnitTest/Core/.idea/.idea.Core.dir/.idea/encodings.xml
/Assets/Code/BDFramework.UnitTest/Core/.idea/.idea.Core.dir/.idea/indexLayout.xml
/Assets/Code/BDFramework.UnitTest/Core/.idea/.idea.Core.dir/.idea/vcs.xml
/*.csproj
/*.sln
/Build
/BDFramework.Core.csproj
/BDFramework.Core.sln
/BDFramework.Editor.csproj
/BDFramework.Editor.TestRunner.csproj
/Assets/Plugins/Sirenix.meta
/Assets/Plugins/Sirenix.zip
/Assets/Plugins/Sirenix.zip.meta
Assets/3rdPlugins/Sirenix.meta
/DevOps/PublishAssets/.svn
/DevOps/PublishPackages/.svn
/Assets/Plugins/CodeStage.meta
/Assets/Plugins/CodeStage
/.vsconfig
/Assets/Plugins.meta
/DevOps/PublishPackages
