/BDFramwork/Temp
/BDFramwork/Library
/ClassLibrary1
/BDFramework/Library
/BDFramework/.vs
/BDFramework/Assembly-CSharp.csproj
/BDFramework/Assembly-CSharp-Editor.csproj
/BDFramework/BDFramwork.csproj
/BDFramework/BDFramwork.Editor.csproj
/BDFramework/BDFramwork.sln
/BDFramework/Temp
/BDFramework/BDFramework.csproj
/BDFramework/BDFramework.Editor.csproj
/BDFramework/BDFramework.sln
/Library
/BDFramework.csproj
/BDFramework.Editor.csproj
/BDFramework.sln
/Temp
/BDFramework-Unity3d.Editor.csproj
/BDFramework-Unity3d.csproj
/BDFramework-Unity3d.sln
/BDFramwork.Editor.csproj
/BDFramwork.csproj
/BDFramwork.sln
/BDFramwork.userprefs
/Assets/StreamingAssets/Base.dll
/Assets/StreamingAssets/Base.dll.mdb
/Assets/StreamingAssets/Base.dll.mdb.meta
/Assets/StreamingAssets/Base.dll.meta
/.vs/BDFramwork/v14
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/.idea
/.vs
/obj
/UnityPackageManager
/BDFramework-Unity3d.Editor.Plugins.csproj
/BDFrameWork/BDFrameWork.Core/Properties
/BDFrameWork/BDFrameWork.Core/bin
/BDFrameWork/BDFrameWork.Core/obj
/BDFrameWork/BDFrameWork.Editor/Properties
/BDFrameWork/BDFrameWork.Editor/bin
/BDFrameWork/BDFrameWork.Editor/obj
/BDFrameWork/.idea
/BDFrameWork-QuickExample/Assembly-CSharp.csproj
/BDFrameWork-QuickExample/Assembly-CSharp-Editor.csproj
/BDFrameWork-QuickExample/Assembly-CSharp-Editor-firstpass.csproj
/BDFrameWork-QuickExample/BDFrameWork-QuickExample.sln
/BDFrameWork-QuickExample/Library
/BDFrameWork-QuickExample/Temp
/BDFrameWork-QuickExample/UnityPackageManager
/PublishCodeTools/PublishCodeTools/Properties
/PublishCodeTools/PublishCodeTools/bin
/PublishCodeTools/PublishCodeTools/obj
/BDFrameWork-UnityFull/Library
/BDFrameWork-UnityFull/Temp
/BDFrameWork-UnityFull/UnityPackageManager
/PublishCodeTools/.vs/PublishCodeTools/v15/.suo
/PublishCodeTools/.vs/PublishCodeTools/v15/Server/sqlite3/db.lock
/PublishCodeTools/.vs/PublishCodeTools/v15/Server/sqlite3/storage.ide
/BDFrameWork-UnityFull/*.cmdline
/BDFrameWork-UnityFull/*.err
/BDFrameWork-UnityFull/*.out
/BDFrameWork-UnityFull/*.tmp
/BDFrameWork-UnityFull/*.csproj
/BDFramework/tw0vylmu.cmdline
/BDFramework/tw0vylmu.err
/BDFramework/tw0vylmu.out
/BDFramework/tw0vylmu.tmp
/BDFramework/*.cmdline
/BDFramework/*.err
/BDFramework/*.out
/BDFramework/*.tmp
/BDFramework/obj
/Logs
/.gradle
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1/defaultresourcesextra/standard.shader.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1/defaultresourcesextra/standard.shader
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1/defaultresourcesextra.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1/default/particle standard unlit.shader.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1/default/particle standard unlit.shader
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1/default.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader/builtin_shaders-2018.4.0f1.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/shader.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/effect.prefab.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/runtime/effect.prefab
/Assets/StreamingAssets/Windows/Art/assets/resource/img/1.common/bg/zhujiemian192220.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/img/1.common/bg/zhujiemian192220.png
/Assets/StreamingAssets/Windows/Art/assets/resource/img/1.common/bg.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/img/1.common.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/img.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/zhu4.fbx.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/zhu4.fbx
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/zhu1a.anim.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/zhu1a.anim
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/materials/gq_yanwu_03.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/materials/gq_yanwu_03.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/materials/22.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/materials/22.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/materials.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/material28.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/material28.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/material27.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/material27.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/gq_yanwu_03.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/gq_yanwu_03.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/gameobject.controller.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx/gameobject.controller
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect/xx.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/uieffect.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/wenli_1_02.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/wenli_1_02.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/tfx_noise_t3.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/tfx_noise_t3.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/particle_trail_swirly_item_02.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/particle_trail_swirly_item_02.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/particle_motion_liquid_01.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/particle_motion_liquid_01.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/lightover_runno_15_00.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/lightover_runno_15_00.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/guangshu.tga.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/guangshu.tga
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/fire_30.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/fire_30.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/13_caustic_ss.png.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te/13_caustic_ss.png
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/te.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/shader/particlesniuqu01.shader.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/shader/particlesniuqu01.shader
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/shader.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/yuanzhu.fbx.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/yuanzhu.fbx
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/trail_xuanzhuan01.fbx.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/trail_xuanzhuan01.fbx
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/materials/tfx_noise_t3.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/materials/tfx_noise_t3.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model/materials.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/model.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/particle_twirl_mask_01.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/particle_twirl_mask_01.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/particle_trail_swirly_item_02.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/particle_trail_swirly_item_02.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/guangshu_alp 1.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/guangshu_alp 1.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/fire_05_alp.mat.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material/fire_05_alp.mat
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common/material.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect/common.meta
/Assets/StreamingAssets/Windows/Art/assets/resource/effect.meta
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1/DefaultResourcesExtra/Standard.shader.meta
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1/DefaultResourcesExtra/Standard.shader
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1/DefaultResourcesExtra.meta
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1/default/Particle Standard Unlit.shader.meta
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1/default/Particle Standard Unlit.shader
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1/default.meta
/Assets/Resource/Runtime/Shader/builtin_shaders-2018.4.0f1.meta
/Assets/Resource/Runtime/Shader.meta
/Assets/Resource/Runtime/effect.prefab.meta
/Assets/Resource/Runtime/effect.prefab
/Assets/Resource/Img/1.Common/bg/zhujiemian192220.png.meta
/Assets/Resource/Img/1.Common/bg/zhujiemian192220.png
/Assets/Resource/Img/1.Common/bg.meta
/Assets/Resource/Img/1.Common.meta
/Assets/Resource/Img.meta
/Assets/Resource/Effect/uieffect/xx/zhu4.FBX.meta
/Assets/Resource/Effect/uieffect/xx/zhu4.FBX
/Assets/Resource/Effect/uieffect/xx/zhu1a.anim.meta
/Assets/Resource/Effect/uieffect/xx/zhu1a.anim
/Assets/Resource/Effect/uieffect/xx/Materials/gq_yanwu_03.mat.meta
/Assets/Resource/Effect/uieffect/xx/Materials/gq_yanwu_03.mat
/Assets/Resource/Effect/uieffect/xx/Materials/22.mat.meta
/Assets/Resource/Effect/uieffect/xx/Materials/22.mat
/Assets/Resource/Effect/uieffect/xx/Materials.meta
/Assets/Resource/Effect/uieffect/xx/Material28.mat.meta
/Assets/Resource/Effect/uieffect/xx/Material28.mat
/Assets/Resource/Effect/uieffect/xx/Material27.mat.meta
/Assets/Resource/Effect/uieffect/xx/Material27.mat
/Assets/Resource/Effect/uieffect/xx/gq_yanwu_03.png.meta
/Assets/Resource/Effect/uieffect/xx/gq_yanwu_03.png
/Assets/Resource/Effect/uieffect/xx/GameObject.controller.meta
/Assets/Resource/Effect/uieffect/xx/GameObject.controller
/Assets/Resource/Effect/uieffect/xx.meta
/Assets/Resource/Effect/uieffect/UI_Zhujiemian_fx.prefab.meta
/Assets/Resource/Effect/uieffect/UI_Zhujiemian_fx.prefab
/Assets/Resource/Effect/uieffect.meta
/Assets/Resource/Effect/common/Te/wenli_1_02.png.meta
/Assets/Resource/Effect/common/Te/wenli_1_02.png
/Assets/Resource/Effect/common/Te/tfx_noise_t3.png.meta
/Assets/Resource/Effect/common/Te/tfx_noise_t3.png
/Assets/Resource/Effect/common/Te/Particle_Trail_Swirly_Item_02.png.meta
/Assets/Resource/Effect/common/Te/Particle_Trail_Swirly_Item_02.png
/Assets/Resource/Effect/common/Te/Particle_Motion_Liquid_01.png.meta
/Assets/Resource/Effect/common/Te/Particle_Motion_Liquid_01.png
/Assets/Resource/Effect/common/Te/lightover_runno_15_00.png.meta
/Assets/Resource/Effect/common/Te/lightover_runno_15_00.png
/Assets/Resource/Effect/common/Te/guangshu.tga.meta
/Assets/Resource/Effect/common/Te/guangshu.tga
/Assets/Resource/Effect/common/Te/fire_30.png.meta
/Assets/Resource/Effect/common/Te/fire_30.png
/Assets/Resource/Effect/common/Te/13_caustic_ss.png.meta
/Assets/Resource/Effect/common/Te/13_caustic_ss.png
/Assets/Resource/Effect/common/Te.meta
/Assets/Resource/Effect/common/shader/ParticlesNiuQu01.shader.meta
/Assets/Resource/Effect/common/shader/ParticlesNiuQu01.shader
/Assets/Resource/Effect/common/shader.meta
/Assets/Resource/Effect/common/Model/yuanzhu.FBX.meta
/Assets/Resource/Effect/common/Model/yuanzhu.FBX
/Assets/Resource/Effect/common/Model/trail_xuanzhuan01.FBX.meta
/Assets/Resource/Effect/common/Model/trail_xuanzhuan01.FBX
/Assets/Resource/Effect/common/Model/Materials/tfx_noise_t3.mat.meta
/Assets/Resource/Effect/common/Model/Materials/tfx_noise_t3.mat
/Assets/Resource/Effect/common/Model/Materials.meta
/Assets/Resource/Effect/common/Model.meta
/Assets/Resource/Effect/common/Material/Particle_Twirl_Mask_01.mat.meta
/Assets/Resource/Effect/common/Material/Particle_Twirl_Mask_01.mat
/Assets/Resource/Effect/common/Material/Particle_Trail_Swirly_Item_02.mat.meta
/Assets/Resource/Effect/common/Material/Particle_Trail_Swirly_Item_02.mat
/Assets/Resource/Effect/common/Material/guangshu_alp 1.mat.meta
/Assets/Resource/Effect/common/Material/guangshu_alp 1.mat
/Assets/Resource/Effect/common/Material/fire_05_alp.mat.meta
/Assets/Resource/Effect/common/Material/fire_05_alp.mat
/Assets/Resource/Effect/common/Material.meta
/Assets/Resource/Effect/common.meta
/Assets/Resource/Effect.meta
/Assets/Plugins/Editor/JetBrains
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Sirenix
/Assembly-CSharp-firstpass.csproj
/BDFramework.Core.sln
