/BDFramwork/Temp
/BDFramwork/Library
/ClassLibrary1
/BDFramework/Library
/BDFramework/.vs
/BDFramework/Assembly-CSharp.csproj
/BDFramework/Assembly-CSharp-Editor.csproj
/BDFramework/BDFramwork.csproj
/BDFramework/BDFramwork.Editor.csproj
/BDFramework/BDFramwork.sln
