<configuration>
        <appSettings>
                <add key="docPath" value="/Users/bokken/build/output/Unity-Technologies/mono/tmp/lib/monodoc" />
                <add key="docExternalPath" value="" />
                <!-- <add key="cache" value="file,~/path/to/cache/directory" /> -->
        </appSettings>
</configuration>
